.itemcard {
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  min-height: 75px;

  font-size: 16px;

  border: solid greenyellow 1px;

  cursor: pointer;
}

.itemcard__charImg {
  overflow: hidden;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.itemcard__charImg_hidden {
  visibility: hidden;
  opacity: 0;
}
